{% block postal_address_row %}
    {% for child in form.children %}
        <div style="border-radius: 5px; border-style: 1px solid #999;padding:1rem;">
            {{ form_label(child) }}
            {{ form_widget(child) }}
            {{ form_help(child) }}
            {{ form_errors(child) }}
        </div>
    {% endfor %}
{% endblock %}
