{% set _request_parameters = app.request.query.all|merge(_request_parameters|default({}))|merge({
    action: 'edit',
    entity: 'Event',
    menuIndex: app.request.get('menuIndex'),
    submenuIndex: app.request.get('submenuIndex'),
    sortField: app.request.get('sortField'),
    sortDirection: app.request.get('sortDirection'),
    page: app.request.get('page', 1),
    filters: app.request.get('filters', []),
    referer: null
}) %}
{% set action_href = _request_parameters.referer|default('') ? _request_parameters.referer|easyadmin_urldecode : path('easyadmin', _request_parameters|merge({ action: 'edit', id: item.id })) %}
<a href="{{ action_href }}">{{ value }}</a>
