{% extends 'base.html.twig' %}

{% block title %}Hello ExampleFormController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <form method="POST" action="{{ path('example_form_validcsrftoken') }}">
        <input type="hidden" name="token" value="{{ csrf_token('montoken') }}">
        <input type="submit">
    </form>
</div>
{% endblock %}
