html,body{
  height: 100%
}
#holder {
  min-height: 100%;
  position:relative;
}

#footer-content {
  position: absolute;
  bottom: 0;
  background-color: var(--light-grayish-red-color);
  padding: 10px;
  border-top: solid 1px var(--very-soft-red-color);
}

.header {
  overflow: hidden;
  background-color: var(--dark-red-color);
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;

  a {
    color: var(--light-grayish-red-color);
    text-decoration: none;

    // Text logo
    &.logo {
      color: var(--white-color);
      font-size: 2em;
      font-weight: bold;
    }
  }

  nav {

    a {
      position: relative;

      &:hover {

        &:after {
          width: 100%;
          left: 0;
        }
      }
      // Animation underline
      &:after {
        background: none repeat scroll 0 0 transparent;
        bottom: -7px;
        content: "";
        display: block;
        height: 5px;
        left: 50%;
        position: absolute;
        background: var(--light-grayish-red-color);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }

      &.active {
        &:after {
          width: 100%;
          left: 0;
        }
      }


    }
  }
}

.header-right {
  padding-top: 15px;
  // Align right
  justify-self: end;
  a {
    padding: 12px;
  }
}

#hamburger {
  display: none;
  .hamburger {
    background-color: var(--dark-red-color);
  }
}
.container  {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 500px) {
  #hamburger {
    display: inline-block;
    justify-self: end;
  }
  .header {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
  .header a {
    display: block;
    text-align: left;
  }

  .header-right {
    display: none;
    justify-self: auto;
    grid-column: span 2;
    padding-top: 0;
  }
}