.navigation-header a {
    color: #fff;
}

.col-form-label {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.--bg-button {
    background-color: #d15c55 !important;
}

@import "form";
@import "hamburger";
