<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Evénements, concerts, cabarets malgaches et sur Madagascar{% endblock %}</title>
        {% block headertag %}{% endblock %}
    </head>
    <body>
        {% block body %}Contenu du block par défaut{% endblock %}
        {% block endbody %}{% endblock %}
    </body>
</html>
