<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Evénements, concerts, cabarets malgaches et sur Madagascar{% endblock %}</title>
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        {% block headertag %}{% endblock %}
    </head>
    <body class="font-sans leading-normal tracking-normal">
    <div class="bg-red-800 border-b border-indigo-darkest bg-teal py-4 px-2">
        <div class="container mx-auto">
            <nav class="flex items-center justify-between flex-wrap">
                <div class="flex items-center flex-no-shrink text-white mr-6">
                    <svg
                            xmlns:dc="http://purl.org/dc/elements/1.1/"
                            xmlns:cc="http://creativecommons.org/ns#"
                            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                            xmlns:svg="http://www.w3.org/2000/svg"
                            xmlns="http://www.w3.org/2000/svg"
                            width="34"
                            height="34"
                            viewBox="0 0 14.287499 14.2875"
                            version="1.1"
                             >
                        <g
                                inkscape:groupmode="layer"
                                id="layer3"
                                inkscape:label="s"
                                transform="translate(0.73541382,-77.243716)">
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.02447266px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                                    d="m 13.552992,74.73149 c 0,0 -3.9573064,1.054767 -3.478528,2.856088 0.478777,1.80132 1.30755,5.905169 1.600137,7.458808 0.292586,1.55364 -12.40017033,1.060232 -12.40017033,1.060232 l -3e-8,2.910426 c 0,0 14.38423336,-0.859111 14.17144436,-2.660432 -0.21279,-1.801321 -1.587264,-6.453224 -1.682742,-7.142117 -0.239388,-1.727214 1.801281,-1.820931 1.801281,-1.820931 z"
                                    id="path1389"
                                    inkscape:connector-curvature="0"
                                    sodipodi:nodetypes="cssccsscc" />
                        </g>
                        <g
                                inkscape:label="Calque 1"
                                inkscape:groupmode="layer"
                                id="layer1"
                                transform="translate(0.73541382,-241.95204)"
                                style="display:inline">
                            <path
                                    style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.03036975px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                                    d="m -0.72556933,249.69873 2.84467843,-10.26471 2.2203392,0.006 1.1950347,9.55718 2.1330124,-9.55844 2.2468241,-0.003 1.6917365,10.46832 -2.2416511,0.68803 -0.9096412,-6.75842 -1.0686659,6.86126 -3.8421003,0.0266 -0.717543,-6.8974 -1.3383482,6.69897 z"
                                    id="path1366"
                                    inkscape:connector-curvature="0"
                                    sodipodi:nodetypes="cccccccccccccc" />
                        </g>
                    </svg>
                    <span class="font-semibold text-xl tracking-tight text-3xl">Madatsara</span>
                </div>
                <div class="block sm:hidden">
                    <button class="navbar-burger flex items-center px-3 py-2 border rounded text-white border-white hover:text-white hover:border-white">
                        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                    </button>
                </div>
                <div id="main-nav" class="w-full flex-grow sm:flex items-center sm:w-auto hidden">
                    <div class="sm:flex-grow"></div>
                    <div>

                        <a href="{{ path('frontend_contact') }}" class="no-underline font-bold block mt-4 sm:inline-block sm:mt-0 text-white hover:text-grey-light mr-4">
                            Contact
                        </a>
                        <a href="#" class="no-underline inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal hover:bg-white lg:mt-0">Ajouter un événement</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="container mx-auto bg-white mt-24 md:mt-18">
        {% block body %}Contenu du block par défaut{% endblock %}
    </div>

        {% block endbody %}{% endblock %}
    </body>
</html>
