<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Evénements, concerts, cabarets malgaches et sur Madagascar{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}">
        <meta name="theme-color" content="#9b2c2c">
        <meta name="verify-v1" content="k8rL7/Zq2pa966Zh+/p1Gnw2lQxglkApa4IRYrXplW4=" >
        {% block headertag %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header class="header">
        <a href="#default" class="logo">
            <img src="{{ asset('build/images/logo.svg') }}" alt="">
        </a>
        <div id="hamburger">
            <button  class="hamburger hamburger--squeeze" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
        </div>
        <nav class="header-right" id="main-nav">
            <a class="active" href="#home">Home</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href="#about">About</a>
            <a href="#about">About</a>
            <a href="#about">About</a>
            <a href="#about">About</a>
        </nav>
    </header>

    <section class="container">
        {% block body %}Contenu du block par défaut{% endblock %}
    </section>

    {% block endbody %}
        {# 'app' must match the first argument to addEntry() in webpack.config.js #}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
