{% extends 'base.html.twig' %}

{% block title %}Hello ExampleFormController!{% endblock %}

{% block body %}


    <h1>Edit</h1>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form(form) }}

{% endblock %}
