<a href="https://twitter.com/madatsara"><i class="fab fa-twitter-square"></i> {{ 'Twitter' | trans }}</a>
- <a href="https://facebook.com/madatsara"><i class="fab fa-facebook"></i> {{ 'Facebook' | trans }}</a>
- <a href="https://www.youtube.com/channel/UCxkbKg0FkZBSi3v8fvgTP0A/videos"><i class="fab fa-youtube"></i> {{ 'Youtube' | trans }}</a>
- <a href="mailto:madatsara@gmail.com"><i class="fas fa-envelope"></i> {{ 'E-mail' | trans }}</a>
